/*{
    outline: 1px solid #c8ff00;
   }*/
.line  {
    height: 1px;
    background-color:#3254b6 ;
} 
.navbar .brand {
    width:150px;;
}
.w3l-main-banner .banner-view {
    background: url(img/banner1.jpg) no-repeat right;
    background-size: cover;
    min-height: 700px;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    list-style-type: none;
    background-position: center center;
    background-attachment: fixed;}  
    
    .banner-text {
        font-weight: 700;
        font-size: 65px;
        line-height: 80px;
        margin-bottom: 300px; 
        color: whitesmoke;} 

.heading{
     
     font-size: 50px;
     font-weight: bold;
     text-decoration: overline;
  text-decoration-color:steelblue;
}
.aboutbody{
    background:linear-gradient(to right, rgba(226, 218, 207, 0.72), rgba(211, 205, 226, 0.58));
}

  
.about-text{
    font-size: 30px;
    font-family: cursive;
}     

.qualification{
    font-size: 25px;
}
.Educationbody {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.58)), url(img/edu.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed; }

.progress {
        height: 50px;
        display: block;
        background:none}
.skillsbody{
    
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.58)), url(img/skills.jpg);
    background-size:cover ;
    height: 700px;
    
}
.progressbar{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.253));
}
 .php-email-form {
    width: 100%;
    padding: 30px;
    background: rgba(229, 229, 240, 0.948);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .info {
    padding: 10px;
    background: rgba(229, 229, 240, 0.948);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
 

  footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 1px;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }

  .social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoinstagram:hover {
	background-color:#dd2a7b;
}